<!doctype html>
<html lang="en"
      data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BookMeg</title>

</head>
<body>
<main data-layout-fragment="content">
    <h1 class="mb-3 m-3">Login</h1>
    <form action="/add-book" th:action="@{/add-book}" method="post">
        <div class="mb-3 m-3">
            <label class="form-label">Title :</label>
            <input type="text" name="bookName" placeholder="Input title" class="form-control">
        </div>
        <div class="mb-3 m-3">
            <label  class="form-label">Cost :</label>
            <input type="text"  name="costBook" placeholder="Input cost" class="form-control">
        </div>
        <div class="mb-3 m-3">
            <label  class="form-label">numPages :</label>
            <input type="text"  name="numPages" placeholder="Input numPages" class="form-control">
        </div>
        <div class="mb-3 m-3">
            <label  class="form-label">produceYear :</label>
            <input type="date"  name="produceYear" placeholder="Input produceYear" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary m-3">Submit</button>
    </form>
</main>
</body>
</html>