<!doctype html>
<html lang="en"
      data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BookMeg</title>

</head>
<body>
<main data-layout-fragment="content">
    <h1 class="mb-3 m-3">Book</h1>
    <div th:each="books_el:${book}" class="alert alert-info mt-2">
        <h3 th:text="${books_el.bookName}" class="mb-3 m-3"></h3>
        <p th:text="${books_el.costBook}" class="mb-3 m-3"></p>
        <p th:text="${books_el.numPages}" class="mb-3 m-3"></p>
        <p th:text="${books_el.produceYear}" class="mb-3 m-3"></p>
        <a th:href="'/library/'+${books_el.bookId}+'/edit'" class="btn btn-warning mb-3 m-3">Edit</a>
        <a th:href="'/library/'+${books_el.bookId}+'/remove'" class="btn btn-warning mb-3 m-3">Delete</a>
    </div>
</main>
</body>
</html>