<!doctype html>
<html lang="en"
      data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BookMeg</title>

</head>
<body>
<main data-layout-fragment="content">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div th:each="categories_el:${categories}" class="col">
            <a th:text="${categories_el.category}" class="btn btn-lg btn-outline-dark d-flex align-items-center justify-content-center" href="#" target="_blank" rel="noopener"></a>
        </div>
    </div>
</main>
</body>
</html>