<!doctype html>
<html lang="en"
      data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BookMeg</title>

</head>
<body>
<main data-layout-fragment="content">

    <h1 class="mb-3 m-3">Login</h1>

    <form action="login" th:action="@{/login}" method="post">
        <div class="mb-3 m-3">
            <label class="form-label">Name :</label>
            <input type="text" name="nameUser" placeholder="Input name" class="form-control">
        </div>

        <div class="mb-3 m-3">
            <label for="exampleInputPassword1" class="form-label">Password :</label>
            <input type="password" name="userPassword" placeholder="**********" class="form-control"
                   id="exampleInputPassword1">
        </div><!--password-->

        <button type="submit" class="btn btn-primary m-3">LogIn</button>

        <div class="mb-3 m-3">
            <a href="login/createAccount">Register if you don't have an account on BookMeg yet</a>
        </div>
    </form>
</main>
</body>
</html>