<!doctype html>
<html lang="en"
      data-layout-decorate="~{fragments/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BookMeg</title>

</head>
<body>
<main data-layout-fragment="content">
    <div class="album py-5 bg-light">
        <div class="container">

            <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div th:each="books_el:${book}" class="col">

                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">

                            <p th:text="${books_el.bookName}" class="card-text"></p>
                            <p th:text="${books_el.costBook}+' $'" class="mb-3 m-3"></p>
                            <p th:text="${books_el.numPages}+' pages'" class="mb-3 m-3"></p>
                            <p th:text="${books_el.produceYear}+' year'" class="mb-3 m-3"></p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a th:href="'/library/'+${books_el.bookId}"  class="btn btn-sm btn-outline-secondary">Continue</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</main>
</body>
</html>